* {
    margin: 0;
    box-sizing: border-box;
    color: black;
}

#desktop {
    font-family: sans-serif, monospace;
    font-size: 11px;
}

#mobile {
    font-family: sans-serif, monospace;
    font-size: 25px;
}

i {
    color: white;
}

i:hover {
    color: #289BD2;
}

img {
    z-index: -1;
    display: inline-block;
    vertical-align: middle;
}    

button {
    height: 3em;
    width: 4em;
    border-radius: 0.5em;
    border: 0.1em solid #ccc;
}

.header {
    width: 100%;
    height: 12%;
    position: fixed;
    background-color: #289BD2;
    border-bottom: 0.1em solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.mobilenav {
    width: 100%;
    height: 6em;
    bottom: 0;
    position: fixed;
    background-color: #289BD2;
    border-bottom: 0.1em solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.content {
    background-color: white;
}

.fade {
    display: block;
    margin: 0 auto;
    color: white;
    background-color: #289BD2;
    padding: 0.5em;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.fade:hover {
    background-color: white;
    color: #289bd2;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.sidebar {
    position: fixed;
    top: 12%;
    bottom: 0;
    left: 0;
    width: 11%;
    background-color: #289BD2;
    color: white;
    vertical-align: middle;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    padding-left: 1%;
    text-align: left;
}

.sidebar a {
    font-weight: 700;
    font-size: 15px;
    display: block;
    height: 3.5em;;
    line-height: 2.5em;
    text-decoration: none;
}

.bottom {
    position: fixed;
    bottom: 4em;
}

.right {
    position: fixed;
    right: 4em;
}
