@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html, body {
    font-family: 'Montserrat', sans-serif, monospace;
    width: 100%;
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    box-sizing: border-box;
    color: black;
    font-size: 12px;
}

#desktop {
    font-size: 11px;
}

#mobile {
    font-size: 25px;
}

.grid-container {
    display: grid;
    grid-template-columns: 150px auto ;
    grid-template-rows: 70px auto ;
}

.header2 {
    text-align: center;
    height: 100%;
    vertical-align: middle;
    position: sticky;
    top: 0;
    grid-column: 1 / span 2;
    grid-row: 1;
    background-color: #289BD2;
}

.sidebar2 {
    grid-row: 2;
    grid-column: 1;
    position: fixed;
    top: 70px;
    width: 150px;
    height: 100%;
    background-color: #289BD2;
    color: white;
    text-align: left;
}

.page-content {
    padding: 2em;
    grid-row: 2;
    grid-column: 2;
}

.content-header {
    color: #289BD2;
    font-size: 20px;
    padding: 0 0 0.5em 0;
}

/* For responsivity - added KG 25/5 */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.form-div-2-columns > div {
    margin: 10px;
    min-width: 150px;
    flex-grow: 1;
    flex-basis: 0;
}

.form-div-1-column > div {
    margin: 5px;
    min-width: 200px;
    flex-grow: 1;
    flex-basis: 0;
}

.form-div-2-columns {
    max-width: 450px;
}

.form-div-1-column {
    flex-direction: column;
    max-width: 300px;
}

input[type=text], input[type=password], input[type=date] {
    width: 100%;
}
/* End code added KG 25/5 */

.header {
    top: 0%;
    left: 0%;
    width: 100%;
    height: 12%;
    position: fixed;
    background-color: #289BD2;
    /*border-bottom: 0.1em solid #ccc;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.mobilenav {
    width: 100%;
    height: 6em;
    bottom: 0;
    position: fixed;
    background-color: #289BD2;
    border-bottom: 0.1em solid #ccc;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

.content {
    justify-content: center;
    width: 50%;
    background-color: white;
}

.sidebar-icon {
    color: white;
    margin: 0.5em;
}

img {
    z-index: -1;
    display: inline-block;
    vertical-align: middle;
}

.socialMedia {
    font-size: 18px;
    color: black;
    margin-top: 0.25em;
}

button:hover {
    background-color: #d6edf8;
    color: #289BD2;
    border: 1px solid #289BD2;
}

button {
    padding: 0.8em;
    color: white;
    background-color: #289BD2;
    border: 1px solid white;
    border-radius: 0.5em;
    font-weight: bold;
    cursor: pointer;
}

.logoHome {
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
}



.textField {
    border: 1px solid;
    border-radius: 0.5em;
    background-color: #d6edf8;
    line-height: 2em;
    margin: 0.5em 0em 0.5em 0em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.cancel-button {
    background-color: transparent;
    color: black;
}

.cancel-button:hover {
    text-decoration: underline;
}

.save-button:hover {
    color: black;
    background-color: #D6EDF8;
}

.centred_div {
    position: fixed;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%);
}

.set-padding {
    padding: 0.5em !important;
}

.fade {
    display: block;
    color: white;
    padding: 0.5em;
    font-weight: 700;
    font-size: 14px;
    height: 3.5em;
    line-height: 2.5em;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.fade:hover {
    background-color: white;
    color: #289bd2;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.fade:hover .sidebar-icon {
    color: #289bd2;
}

.sidebar {
    position: fixed;
    top: 12%;
    bottom: 0;
    left: 0;
    width: 160px;
    background-color: #289BD2;
    color: white;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 1;
    text-align: left;
}

.bottom {
    position: fixed;
    bottom: 2em;
}

.right {
    position: fixed;
    right: 2em;
}

.blue-color {
    color: #289BD2;
}

.selected {
    display: block;
    color: #289BD2;
    background-color: white;
    padding: 0.5em 0.5em 0.5em 2em;
    font-weight: 700;
    font-size: 15px;
    height: 3.5em;
    line-height: 2.5em;
    text-decoration: none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/*CSS for home.html*/
.welcome_div {
    font-size: 15px;
}

/*CSS for inner of dashboard1.html*/
.event-text {
    color: #289BD2;
    font-size: 20px;
    margin-bottom: 0;
}

.organising-container-div {
    background-color: white;
    position: relative;
    top: 2%;
    width: 70%;
    height: 40%;
    overflow-y: auto;
}

.organising-inner-elements {
    background-color: #D6EDF8;
    top: 2%;
    width: 462px;
    height: 84px;
    border-radius: 2em;
    margin-bottom: 3em;
}

.organising-inner-elements:hover {
    background-color: #289BD2;
    color: white;
}

.organising-inner-elements:hover i, .organising-inner-elements:hover p, .organising-inner-elements:hover button {
    color: white;
}


.icon-create-event {
    color: #289BD2;
    font-size: 4em;
    transform: translateY(50%);
    margin-left: 0.25em;
}

.calendar-icon {
    color: white;
    font-size: 1.5em;
    margin-left: 0.5em;
}

.organising-date {
    margin-left: 4em;
    font-size: 16px;
    font-weight: bold;
    transform: translateY(-180%);
}

.event-name {
    margin-left: 1.9em;
    font-size: 32px;
    font-weight: bold;
    transform: translateY(-80%);
}

.organising-button {
    background-color: transparent;
    color: black;
    transform: translateY(-300%);
    padding: 0.4em !important;
    border-radius: 0;
    margin-right: 1em;
    font-size: 12px;
}

.organising-button:hover {
    text-decoration: underline;
}

.bottom-right-radius {
    border-bottom-right-radius: 1em !important;
}

.button-container {
    float: right;
    display: flex;
    flex-direction: column;
}

.create-event-button {
    transform: translateY(100%);
    margin-bottom: 5em;
}

.create-event-button:hover {
    background-color: #D6EDF8;
    color: black;
}

.status {
    float: right;
    transform: translateY(-250%);
    margin-right: 0.7em;
    font-size: 15px;
}
/*End CSS for dashboard1.html*/

/*CSS for create_event_attendee.html*/
.size-16-px-text {
    font-size: 16px;
    margin-top: 0.5em;
}

.set-width {
    width: 25% !important;
}

.align-left {
    text-align: left;
}

#users-message {
    border-radius: 1em;
    width: 95%;
    margin-top: 0.5em;
    vertical-align: center;
}

.conversation {
    background-color: white;
    border-radius: 0.5em;
    padding: 0.3em;
    block-size: fit-content;
    width: fit-content;
    position: absolute;
    bottom:9em;
    right:1em;
}

.height-increase {
    height: 20%;
    overflow-y: auto;
}

.check-calendar-button {
    transform: translateY(15%);
    margin-bottom: 3em;
}

.check-calendar-button:hover {
    background-color: #D6EDF8;
    color: black;
}

.check-calendar-button:hover i{
    color: #289BD2;
}

.logo {
    vertical-align: middle;
    padding-left: 1em;
    height: 70%;
    max-height: 70px;
    width: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto auto 0;

}



.title {
    font-size: 18px;
    font-style: italic;
}

.list {
    list-style-type: none;
    /* align li to the centre of ul */
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

.items {
    display: block;
    height: fit-content;
    background-color: #a8d9ffdb;
}

/* CSS for account.html*/
/* make the pre tag's content align vertically to the left for manage account html */
.accountPre {
    text-align: left;
    /*font-family: sans-serif, monospace;*/
    line-height: 3em;
}

/*CSS for createEvent.html*/
.eventPre {
    font-family: sans-serif, monospace;
    line-height: 3em;
}

.set-width2 {
    width: 30% !important;
}

.textField2 {
    border: 1px solid;
    border-radius: 0.5em;
    background-color: #d6edf8;
    line-height: 2em;
    margin: 1em 0em 1em 0.6em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.margin-increase {
    margin: 1em 0em 1em 0.95em;
}

::placeholder {
    font-weight: bold;
}

/* CSS for EventviewORG.html*/
.textmessage {
    border-radius: 1em;
    background-color: whitesmoke;
    border: 0.1em solid #ccc;
    padding: 0.5em;
    font-size: 1em;
    font-weight: bold;
    height: fit-content;
    vertical-align: bottom;
}

.textbox {
    /* align the content to the right */
    text-align: right;
    vertical-align: bottom;
}

/* For mobile screens - added KG 25/5 */
@media only screen and (max-device-width: 30em) {
    * {
        font-size: 25px;
    }

    @media (orientation: portrait) {
      .form-div {
        max-width: 100%;
      }

      .flex-container > div {
        min-width: 80%;
      }
    }

}