* {
    font-family: sans-serif, Arial;
    font-size: 11px;
    color: black;
    box-sizing: border-box;
}

body {
    background-color: white;
}

.button {
    color: white;
    background-color: #289BD2;
    padding: 5px;
}

.button:hover {
    background-color: white;
    color: #289bd2;
    text-decoration: underline solid 2px #289BD2;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

h1 {
    font-size: 200 em;
    font-family: 'Courier New', Courier, monospace;
}