<!DOCTYPE html>
<html lang="en">
<head>
    <title>Event Invitation</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/template.css">
    <script src="https://kit.fontawesome.com/84be2b00fc.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!--<script src="/javascripts/templatevue.js" defer></script>-->
    <!--<script src="/public/javascripts/invited.js" defer></script>-->
    <!--<script src="/javascripts/logout.js" defer></script>-->
    <script src="/javascripts/user_actions.js" defer></script>
    <script src="/javascripts/invitation.js" defer></script>
</head>
<body onload="getEventID(); user_details(); get_event_detail();">
    <div class="grid-container">
        <!-- HEADER -->
        <div class="header2" id="header">
            <a href="/app/dashboard.html">
                <img src="/images/W2M_icon.png" class="logo" alt="W2M" />
            </a>
            <span class="loggedInText">Logged in as
                <span id="name" v-cloak> {{first_name}}</span>
            </span>
        </div>
        <!-- SIDEBAR -->
        <div class="sidebar2" id="sidebar">
            <div>
                <a href="/app/dashboard.html" class="selected"><i class="fa-regular fa-calendar fa-lg sidebar-icon blue-color"></i>My Events</a>
            </div>
            <div>
                <a href="/app/account.html" class="fade"><i class="fa-solid fa-sliders fa-lg sidebar-icon"></i>My Account</a>
            </div>
            <div v-if="admin" v-cloak>
                <a href="/admin.html" class="fade"><i class="fa-solid fa-user-gear fa-lg sidebar-icon"></i>Admin</a>
            </div>
            <div>
                <a class="fade" onclick="logout()"><i class="fa-solid fa-sign-out-alt fa-lg sidebar-icon"></i>Log out</a>
            </div>
        </div>
        <!-- CONTENT -->
        <div class="page-content" id="app">
            <div class="flex-container">
            <div>
                <h1 class="content-header">{{ event_details[0].event_name }}</h1>
                <p class="size-16-px-text">You're invited to this event!</p>
                <div class="textField">
                    <!-- a 3 by 3 table -->
                    <table class="table" style="height: 6em; width: 20em;" id="evdetails" v-on:load="readevent()">
                        <tr>
                            <th class="align-left">Where</th>
                            <td>{{ event_details[0].location }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="align-left">RSVP</th>
                            <td>{{ returnRSVP(event_details[0].RSVP) }}</td>
                            <td></td>
                        </tr>
                        <tr>
                            <th class="align-left">Details</th>
                            <td>{{ event_details[0].event_description }}</td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                    <p class="size-16-px-text">Your availability for this event: </p>
                    <div class="textField height-increase">
                        <table>
                            <tr>
                                <td></td>
                                <th style="width: 24em"></th>
                                <th>Yes</th>
                                <th style="width: 1em;"></th>
                                <th>No</th>
                            </tr>
                        </table>
                        <table v-for="element in event_details" class="table" style="height: fit-content; width: 30em;">
                            <!-- checkbox -->
                            <tr>
                                <td>{{ returnDateTime(element.event_date) }}</td>
                                <th><input type="radio" :name="element.event_date_id" value="yes"></th>
                                <th><input type="radio" :name="element.event_date_id" value="no"></th>
                            </tr>
                        </table>
                    </div>
                    <div><p class="content-header">Check Your Calendar</p></div>
                    <!-- embed google calender with the users gmail -->
                    <iframe v-bind:src="'https://calendar.google.com/calendar/embed?src=' + email + '&ctz=Australia%2FAdelaide'" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"  @onload="getemail()" id="invited"></iframe>
                    <div style="float: right;">
                        <button class="save-button" onclick="saveClicked()">Save</button>
                    </div>
            </div>
            </div><!-- end flex-container -->
        </div><!-- end page content -->
    </div><!-- end grid-container -->
    <div class="bottom right">
        <button class="fade set-padding" onclick="toTop()"><i class="fa-solid fa-angle-up" style="color:white"></i></button>
    </div>
</div>
</body>
</html>